{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 80,
  "jsxSingleQuote": true,
  "jsxBracketSameLine": true,
  "arrowParens": "avoid",
  "proseWrap": "never",
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "lf",
  
}